#
# fluentd.service
# Template of service unit definition for fluentd
#
# Copyright (c) 2016-2017 Junpei Kawamoto
#
# This file is part of Roadie.
#
# Roadie is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Roadie is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Roadie.  If not, see <http://www.gnu.org/licenses/>.
#
[Unit]
Description=Fluentd Log Management Service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop fluentd
ExecStartPre=-/usr/bin/docker rm fluentd
ExecStart=/usr/bin/docker run --name fluentd -e 'INSTANCE={{.Name}}' -e 'USERNAME=roadie' -v /var/lib/docker:/var/lib/docker jkawamoto/docker-google-fluentd:dev
ExecStop=/usr/bin/docker stop fluentd
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
